<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.eni.locakar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VehiculeRendreActivity"></activity>
        <activity android:name=".VehiculesLouesActivity" />
        <activity android:name=".AjouterVehiculeActivity" />
        <activity android:name=".ModifierVehiculeActivity" />
        <activity android:name=".VehiculeParkingActivity" />
        <activity android:name=".ParkingActivity" />
        <activity android:name=".ModifierAgence" />
        <activity android:name=".AgenceVisuActivity" />
        <activity android:name=".ErreurActivity" />
        <activity android:name=".PortailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>